version: 2.1

orbs:
  ruby: circleci/ruby@1.1.3

jobs:
  test:
    parameters:
      ruby-version:
        type: string
    docker:
      - image: cimg/ruby:<< parameters.ruby-version >>
    steps:
      - checkout
      - ruby/install-deps:
          bundler-version: 2.1.4
      - ruby/rspec-test

workflows:
  ruby-test:
    jobs:
      - test:
          matrix:
            parameters:
              ruby-version:
                - "3.0"
                - "3.1"
                - "3.2"
                - "3.3"
                - "3.4"
